@import url("https://fonts.googleapis.com/css2?family=Exo+2&family=Orbitron:wght@500&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --extra-light: #eee3cb;
  --light: #d7c0ae;
  --medium: #b7c4cf;
  --dark: #967e76;
  --darker: #65647c;
  --font-fam-1: "Orbitron", sans-serif;
  --font-fam-2: "Exo 2", sans-serif;
}

/* Navbar formatting */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  font-family: var(--font-fam-2);
  background-color: var(--light);
  margin-bottom: 5px;
}

.nav-ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  display: inline-block;
  text-align: center;
  padding: 0px 25px;
  text-decoration: none;
}

.nav-link a {
  display: inline-block;
  color: var(--darker);
  text-decoration: none;
}

.name {
  display: flex;
  text-align: center;
  padding: 0px 25px;
}

.name a {
  color: var(--darker);
  text-decoration: none;
}

/* Formatting the subtitle section */

section.subtitle {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  text-align: center;
}

.subtitle {
  /* background-color: gray; */
  background: url(https://images.unsplash.com/photo-1669447922465-5bad4d25fcf2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80);
  border: solid 5px var(--extra-light);
  margin-bottom: 5px;
  height: 250px;
}

h1 {
  color: var(--darker);
  background-color: var(--extra-light);
  width: 300px;
  padding-bottom: 5px;
  font-size: 40px;
  font-family: var(--font-fam-1);
  text-shadow: 1px 1px 1px rgb(22, 22, 22);
}

section img {
  width: 200px;
  height: 220px;
  object-fit: contain;
  margin-right: 10px;
  margin-bottom: 10px;
  border: solid 4px var(--extra-light);
}

/* Formatting the main content */

main {
}

.flexbox-container {
  display: flex;
  margin: 0 150px;
}

.flexbox-item {
  color: var(--darker);
  margin: 5px;
  line-height: 25px;
  font-size: 16px;
}

.flexbox-item-work {
  display: flex;
  flex-wrap: wrap;
  color: white;
  margin: 5px;
  line-height: 25px;
  font-size: 16px;
}

.project-main {
  background: url(https://images.unsplash.com/photo-1534972195531-d756b9bfa9f2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGNvZGV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex: 1 4 700px;
  width: 200px;
  height: 700px;
  justify-content: center;
  align-items: center;
  border: 4px solid var(--darker);
  /* background-color: red; */
  padding: 5px;
  margin: 5px 5px;
}

.project-side {
  display: flex;
  flex: 1 1 500px;
  width: 200px;
  height: 200px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border: 4px solid var(--darker);
  background-color: green;

  padding: 5px;
  margin: 5px 5px;
}

.flexbox-item-1 {
  padding-right: 5px;
  flex: 1 1;
  font-size: 66px;
  border-right: solid var(--darker) 4px;
}
.flexbox-item-1 h2 {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 5px;
  flex-wrap: wrap;
  font-size: 55px;
  color: var(--darker);
  text-shadow: 1px 1px 1px rgb(22, 22, 22);
  font-family: var(--font-fam-1);
}

.flexbox-item-2 {
  text-align: left;
  padding-left: 5px;
  flex: 3 1;
}

.flexbox-item-2 ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding-right: 5px;
}

.flexbox-item-2 a {
  color: var(--darker);
  font-family: var(--font-fam-2);
  text-decoration: none;
  font-size: 25px;
}
